@import '../../styles/variables.scss';

.Content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;

  .Particles {
    position: absolute;
    left: 220px;
    top: 72px;
  }
}

.Background {
  height: 320px;
  width: 100%;
  background-size: cover;
  background-position: center left;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.5rem 0;

    flex-wrap: wrap;

    @media (max-width: $md3) {
      gap: 3rem 0;
    }
    @media (max-width: $md4) {
      gap: 2rem 0;
    }

    li {
      flex: 0 1 10%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @media (max-width: $md3) {
        flex: 0 1 30%;
      }

      a {
        display: inline-block;

        > * {
          width: 90px;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.1) translateY(-10%);
          }

          @media (max-width: $md3) {
            width: 64px;
          }
        }
      }
    }
  }
}
