@use 'sass:math';
@import '../../../styles/variables.scss';

// https://css-tricks.com/snippets/css/fluid-typography/
@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

.p {
  font-weight: 700;

  @include fluid-type(320px, 1600px, 16px, 24px);
}

.h1 {
  line-height: 0.8;
  letter-spacing: 0.5rem;
  font-weight: 900;

  @include fluid-type(320px, 1600px, 64px, 256px);
}

.h2 {
  padding-left: calc(2px + (6 - 2) * ((100vw - 320px) / (1600 - 320)));

  line-height: 0.9;
  letter-spacing: 0.55rem;
  font-weight: 900;

  @include fluid-type(320px, 1600px, 32px, 128px);
}

.h3 {
  padding-left: calc(2px + (6 - 2) * ((100vw - 320px) / (1600 - 320)));

  letter-spacing: 0.07rem;
  word-spacing: 0.5rem;
  font-weight: 900;

  @include fluid-type(320px, 1600px, 32px, 100px);
}

.h4 {
  padding-left: calc(4px + (10 - 4) * ((100vw - 320px) / (1600 - 320)));

  letter-spacing: 0.15rem;
  word-spacing: 0.2rem;
  font-weight: 500;

  @include fluid-type(320px, 1600px, 18px, 72px);
}

.h5 {
  padding-left: calc(4px + (10 - 4) * ((100vw - 320px) / (1600 - 320)));

  line-height: 2.2;
  letter-spacing: 0.5rem;
  word-spacing: 0.4rem;
  font-weight: 500;

  @include fluid-type(320px, 1600px, 12px, 16px);
}

.small {
  line-height: 2;
  word-spacing: 0.3rem;
  font-weight: 700;

  @include fluid-type(320px, 1600px, 12px, 16px);
}
