@import './variables.scss';
@import '../assets/fonts/stylesheet.scss';

html,
body {
  color: rgb(255, 255, 255);
  font-family: 'Gilroy';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;

  scroll-behavior: smooth;

  min-height: 100vh;

  max-width: 100vw;

  background-color: black;

  background: url('./../assets/images/sparks_bg.jpg');
  background-size: contain;
  background-repeat: repeat-y;
  background-position: 0 0;

  position: relative;

  overflow-x: hidden;
  overflow-y: auto;
}

html:has(> body.scroll-lock),
body.scroll-lock {
  overflow-y: hidden;
}
