@import '../../styles/variables.scss';

.Skills {
  position: relative;
  width: 100%;
  margin-top: 160px;
  z-index: 2;
  min-height: 960px;

  .Circle1,
  .Circle2 {
    position: absolute;
  }

  .Circle1 {
    left: 0;
    top: 0;
    transform: translate(-85%, -40%);
  }
  .Circle2 {
    right: 0;
    top: 0;
    transform: translate(82%, -10%);
  }
}

.Collumns {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  @media (max-width: $md3) {
    flex-direction: column;
  }

  > * {
    margin-top: 32px;
  }

  .Block {
    flex: 1;
    margin-bottom: 80px;

    z-index: 2;

    .Title {
      min-height: 50px;
      opacity: 0.5;
    }

    .Text {
      margin-top: 24px;
      p {
        margin-bottom: 24px;
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    padding: 36px;

    gap: 1.75rem 0;

    li {
      flex: 1 1 350px;
      padding-left: 30px;
      position: relative;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: white;

        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(45deg) translateY(-75%);
      }
    }
  }
}

.Separator {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 550px;

  @media (max-width: $md3) {
    display: none;
  }
}

.CustomLetterSpacing {
  letter-spacing: 0.13rem !important;
}
