@import '../../styles/variables.scss';

.Contacts {
  width: 100%;
  background-color: black;

  padding-top: 120px;
}

.Content {
  @media (max-width: $md4) {
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    padding: 0;
  }

  h3,
  h5 {
    margin: 0 36px;
  }

  .Collumns {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    @media (max-width: $md3) {
      flex-direction: column;
    }

    > * {
      margin-top: 32px;
    }

    .Contact,
    .Form {
      @media (max-width: $md4) {
        flex: 1 !important;
      }

      z-index: 2;
    }

    .Contact {
      flex: 0.8;
      display: flex;
      flex-direction: column;
      gap: 6rem;

      margin: 180px 36px;

      // custom font-size
      p {
        font-size: calc(18px + 12 * (100vw / 1920));
        white-space: nowrap;
      }

      span {
        display: inline-flex;
        align-items: center;
        gap: 1rem;

        img {
          height: 32px;
        }
      }

      z-index: 3;

      position: relative;

      .Image {
        width: 150%;
        position: absolute;
        bottom: -10%;
        left: -40%;
        z-index: -1;

        @media (max-width: $md3) {
          display: none;
        }
      }
    }

    .Form {
      flex: 1.2;
      margin-top: 80px;
      margin-left: 50px;
      position: relative;
      background-color: #0d0d0d;
      padding: 40px 20px;

      @media (max-width: $md4) {
        margin-left: 0;
        padding: 70px 24px;
      }

      .Image {
        height: 320px;
        position: absolute;
        z-index: 1;
        top: -296px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
