@import '../../styles/variables.scss';

.Contacts {
  width: 100%;
  background-color: black;

  padding-top: 120px;
}

.Content {
  @media (max-width: $md4) {
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    padding: 0;
  }

  h3,
  h5 {
    margin: 0 36px;
  }
}

.Collumns {
  display: flex;

  @media (max-width: $md3) {
    flex-direction: column;
  }

  margin-top: 32px;

  .Contact,
  .Form {
    flex: 0 1 50%;

    z-index: 2;

    @media (max-width: $md3) {
      flex: 0 1 1;
    }
  }

  .Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 100px;

    > div:first-of-type {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      z-index: 2;
    }

    span {
      display: inline-flex;
      align-items: center;
      gap: 1rem;

      // custom font-size
      p {
        font-size: calc(18px + 12 * (100vw / 1920));
        white-space: nowrap;
      }

      img {
        height: 32px;
      }
    }

    position: relative;

    .Image {
      bottom: 0;
      position: absolute;

      @media (max-width: $md3) {
        display: none;
      }
    }
  }

  .Form {
    margin-top: 80px;
    position: relative;
    background-color: #0d0d0d;
    padding: 40px 80px;

    @media (max-width: $md2) {
      padding: 40px 80px;
    }

    @media (max-width: $md3) {
      margin-top: 300px;
      padding: 70px 100px;
    }

    @media (max-width: $md4) {
      margin-top: 300px;
      padding: 70px 40px;
    }

    .Image {
      height: 320px;
      position: absolute;
      z-index: 1;
      top: -296px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
